node_modules
dist
.local
.DS_Store
.env*
astro
.vercel
.netlify
.astro
# build artefacts – werden von Actions erzeugt
dist/
docs/
sitemap*.xml

# build artefacts – werden von Actions erzeugt
dist/
docs/
sitemap*.xml

# build artefacts – werden von Actions erzeugt
dist/
docs/
sitemap*.xml
